.active-link{
    text-decoration: underline;
}

h1{
    color: white;
    grid-row-start: 1;
    grid-column-start:1;
        text-shadow: 1px 1px #13a77e;
    position: relative;
    z-index: 2;
    grid-column-end: 1;
    margin: 0 0 0 0px;
    text-align: left;
}
 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    grid-column-start: 2;
    grid-row-start: 1;
    align-items: center;
        text-shadow: 1px 1px black;
        color: white;
}

 ul li {
    display: inline-block;
}
nav {
    position: absolute;
    z-index: 1;
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;

}
.headerNavigationButton{
	cursor: pointer;
	transition: 300ms;
}
.headerNavigationButton:focus {
  	outline: none;
}
.headerNavigationButton:hover {
  	color: white;
}