<mat-card class="">
  <mat-card-header>
    <mat-card-title>The Joker Play</mat-card-title>
    <mat-card-subtitle>Wild and crazy as a technique</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
	<article>
		<p>
			<img class="blogImage" src="../assets/blogpics/jokerPoker.jpeg" alt="Kings vs Aces in flames">
			Villan says "I'm drunk and I want to go home." So my ears perk up since this is a great tell. Anytime people comunicate at the table and they want to be heard it is usually a lie and the opposite of their true goals.
		</p>
		<ul>
			<li><em>I'm drunk</em> = <strong>I'm basicly sober</strong></li>
			<li><em>I want to go home</em> = <strong>I'm having a good time and would love to stay to win</strong></li>
		</ul>
		<p>
			Said villain then goes all in. And people fold. He shows a bluff. Mmmm. Ok. Then he does it again a few minutes latter. Another bluff. This is where the move becomes deadly. The third time he is called with a middle pair and he turns over Aces.
		</p>
		<p>
			If he did want to go home at some time he has changed his mind. It's a clever play. Act like you don't care especially if you are losing you can save face. Then if you get a few good hands you are going to completly confuse your opponents when you do care.
		</p>
		<aside>Cashed for 4 way tie $105</aside>
	</article>
  </mat-card-content>
</mat-card>