:host {
  box-sizing: border-box;
  display: none;
  right: 0;
  top: 0;
  height: 100%;
}

:host.is-open {
  display: block;
  color: red;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  position: relative;       
}
  
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  0% {right:20px;}
  100% {opacity: 1;}
  100% {right:0px;}
}
         
@keyframes fadeIn {
  0% {opacity: 0;}
  0% {right:20px;}
  100% {opacity: 1;}
  100% {right:0px;}
}