<mat-card >
  <mat-card-header>
    <div mat-card-avatar class=""></div>
    <mat-card-title>Odds of Kings and Aces March 12 /2019</mat-card-title>
    <mat-card-subtitle>Surprising chances</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
	<article id="articleHide">
		<p>
			<img class="blogImage" src="../assets/blogpics/kkvaa.png" alt="Kings vs Aces in flames"> One of the wierdest things ever to happen to me in a game of poker happened this week. I sat down to poket aces... ok, fair enough. First hand of the game and that's good. Villan reraises my bet preflop. So I hollywood and pretend to think... check my cards and 3 bet him. He does a 4 bet and I'm all in. He calls. It's KK vs AA in the first hand. Wow.
		</p>
		<p>
			He flops the set. I'm out of the game in the first hand. Luckily we were plaing at the Port Macquarie Golf Club Satuday game so I could rebuy which I hate doing and often use the fact that I lost as an indicator that I should go home. As in if you are loosing than tonight you are probably off your game or you are not at the right level of players. But in this instance I could not have played any differently and it was no baring of my skill.
		</p>
		<p>
			Apparently this situation is only very rare in the fact that it was the first hand. It is slighly under 4% that if you start a hand with KK and there are 8 players behind someone will have AA.
		</p>
	</article>
  </mat-card-content>
</mat-card>