<mat-card class="">
  <mat-card-header>
    <mat-card-title>Port Web Solutions</mat-card-title>
    <mat-card-subtitle>Thank you</mat-card-subtitle>
  </mat-card-header>
 
  <mat-card-content>
	<article>
		 <img mat-card-image class="blogImage animated" src="../assets/logoAddGoogle.jpg" alt="The Port Web Solutions text in a beige tint"><p>A shout out to the <a href="https://portwebsolutions.com.au/">Port Web Solutions</a> who have made this website. 😁 </p>
		<p>The company and the club are run by the same guy. Which is me--Caleb Grams</p>
		<p>I just want to point out that this website is made using the most advanced technology and techniques. It scores in the highest rankings for Google code scores and does some nifty little tricks.</p>

	</article>
  </mat-card-content>
</mat-card>