<mat-card class="">
  <mat-card-header>
    <mat-card-title>Clock Aware April 5 /2019</mat-card-title>
    <mat-card-subtitle>Thin but real value of clock watching</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
	<article id="articleHide2">
		<p>
			<img class="blogImage animated" src="../assets/blogpics/clock.jpeg" alt="Sad picture of man walking home alone"> I've noticed that with a bit of awarness you can save some good chips at the end of the game by being aware of where the clock is and button. So it might be a good idea to stay in a hand just to delay the game so that the big blind lands on you just before the blinds are raised.
		</p>
		<p>
			It would be obvious if you do it the hand just before. But you can play a bit creative a round before. You are sheilded from criticism if you are in the hand. So a King 5 offsuit might be worth a look at the flop to control the flow of the game.
		</p>
		<p>Did not cash. All in on Ace Jack off for $25 with $4 in the blind. Two folded and a third call with pocket 2s. Good equity and a bit of a crazy call with 2s but not too crazy because he had chips and could knock out a player.</p>
	</article>
  </mat-card-content>
</mat-card>
