 @media only screen and (min-width: 900px) {
  #nav-icon3{
    display: none;
  }
}
 @media only screen and (max-width: 900px) {
  .showHeader{
    display: none;
  }

.mobileCloseButton {
    float: right;
    font-size: 50px;
    position: absolute;
    z-index: 999;
    right: 0;
    top: 0;
    height: 27px;
    line-height: 12px;
    cursor: pointer;
}
  ul {
    padding: 10px;
    width: 100%;
    margin: 20px;
    list-style: none;
    height: 50vh;
    display: flex;
    flex-direction: column;
    cursor: pointer;
        justify-content: space-around;
  }
}

