 @media only screen and (min-width: 900px) {
  #nav-icon3{
    display: none;
  }
}
 @media only screen and (max-width: 900px) {
  .showHeader{
    display: none;
  }
.whereToGo[_ngcontent-c0] {
    grid-column-start: 1;
    grid-column-end: 21;
}
.mobileCloseButton {
    float: right;
    font-size: 50px;
    position: absolute;
    z-index: 999;
    right: 0;
    top: 0;
    height: 27px;
    line-height: 12px;
    cursor: pointer;
}
  ul {
    padding: 10px;
    width: 100%;
    margin: 20px;
    list-style: none;
    height: 50vh;
    display: flex;
    flex-direction: column;
    cursor: pointer;
        justify-content: space-around;
  }
}

@media only screen and (max-width: 1190px) {
.sideArtilesHist h3 {
    font-size: 1em;
}
.sideArtilesHist ul li {
    font-size: 14px;
}

.mat-drawer-inner-container {
    width: 100vw;
    text-align: center;
}
}

@media only screen and (max-width: 938px) {
    .sideArtilesHist {
        display: none;
    }
    .contentRouter {
        grid-column-start: 1;
        grid-column-end: 21;
        position: relative;
        z-index: 3;
        grid-row-start: 2;
        padding: 0 5%;
    }
    .whereToGo{ 
        grid-row-start: 6; 
        margin: 0 20px 30px 20px;
        padding: 10px;
    }

}
