$imageTopMove: 50px;
$imageWidth: 170px;
$imageHeight: 255px;
@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInY {
  backface-visibility: visible !important;
  animation-name: flipInY;
}

.animated {
  animation-duration: 10s;
  animation-fill-mode: both;
}

.pageWrapper{
  padding: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows:100px repeat(10, 200px);
}
 mat-card.mat-card {
  border: 3px solid #b0e3d6;
}
app-header.showHeader {
  position: relative;
  z-index: 2;
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 20;
  display: flex;
  align-items: center;    
}
.sideArtilesHist {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end:4;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;  
  grid-column-end: 5;
  width: 80%;
  background: #a8ff78;
  background: -webkit-linear-gradient(to right, #78ffd675, #91d3f2);
  background: linear-gradient(to right, #78ffd675, #91d3f2);
  height: 100%;
  padding: 5px;  
  transform: skewY(-12deg);     
}
.sideArtilesHist ul {
  list-style: none;
  padding: 0;
  margin: 0;
  transform: skewY(12deg);
      height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sideArtilesHist li{
  color: white;
  background: #3ecf8e;
  padding: 3px;
  border-radius: 3px;
  box-shadow: 1px 2px 1px 1px grey;
  cursor: pointer; 
}
.sideArtilesHist li:hover{
box-shadow: 1px 3px 2px 2px grey;
}

.sideArtilesHist h3{
  transform: skewY(12deg);
  color: white;
  text-shadow: 2px 1px 0px #035223;      
  position: relative;
  margin-bottom: 0;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    1% { transform: translateY(3px); }
    100% { transform: translateY(4px); }
}

.sideArtilesHist li:active { 
  animation: mover 30s ;
}

.contentRouter {
    grid-column-start: 4;
    grid-column-end: 21;
    position: relative;
    z-index: 3;
    grid-row-start: 2;
    padding: 0 5%;    
}
.topHomeContainer{
    display: grid;
    grid-template-rows: repeat(10, 10%);
    grid-template-columns: repeat(8, 12.5%);
    position: relative;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 21;
    grid-row-end: 6;    
    z-index: 1;
    background: white;   
}
.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.pageWrapper {
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

#nav-icon3{
  width: 60px;
  right: 5px;
  top: 5px;
  height: 40px;
  position: fixed;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 999;
}

 #nav-icon3 span{
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: black;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

 
 

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 15px;
}

#nav-icon3 span:nth-child(4) {
  top: 31px;
}

#nav-icon3.open span:nth-child(1) {
  top: 15px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 15px;
  width: 0%;
  left: 50%;
}


.topHomeContainer {
    display: grid;
    grid-template-rows: repeat(10, 10%);
    grid-template-columns: repeat(8,12.5%);
    position: relative;
    overflow: hidden;     
}
img.king {
    width: 100%;
    top: $imageTopMove;
    grid-row-start: 4;
    position: relative;
    z-index: 1;
    grid-column-start: 7;
    transform: rotate(-12deg);
    grid-column-end: 9;
    background: white;
    border: 1px solid black;
    width: $imageWidth;
    height: $imageHeight;
    box-shadow: 10px 10px #8080805c;    
}
img.ace{
  top: $imageTopMove;
    grid-row-start: 5;
    position: relative;
    z-index: 1;
    grid-column-start: 6;
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
    grid-column-end: 8;
    background: white;
    border: 1px solid black;
    width: $imageWidth;
    height: $imageHeight;
    box-shadow: 10px 10px #8080805c;
}

.topHome{
  background: #FFB75E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, red 0%, orange 25%, yellow 50%, green 75%, blue 100%);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,  #3c7af5 0%, #3d6df5 25%, #7fd6f5 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: calc(150px * 5);
  transform: skewY(-12deg);
  overflow: hidden;
  transform-origin: 0;
  z-index: 0;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
  top: -10px;
  position: relative;            
}

span.topHomeSub {
  height: 100%;
  background: -webkit-linear-gradient(to bottom, #4a66f9, #3079f7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #4a66f9, #3079f7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: calc(100% / 6);
  position: absolute;
}
span.topHomeSub2 {
    width: 100%;
    background: linear-gradient(to right, #4a66f9, #4265f9);
    height: 200px;
    position: absolute;
    left: calc(calc(100% / 3) / 2);
}
span.topHomeSub3{
  background: -webkit-linear-gradient(to bottom, #9de6da, #b7f1c9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #9de6da, #b7f1c9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  height: 20%;
  width: 20%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.whereToGo {
    grid-column-start: 5;
    grid-column-end: 17;
    background: white;
    padding: 20px;
    grid-row-start: 5;
    grid-row-end: 6;
    z-index: 1;
    margin: 50px;
    height: 250px;
    display: grid;
    grid-template-columns: 50% 50%;
        border: 1px solid black;  
}
.whereToGo h3 {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;    
}


.whereToGo h4{
    text-align: center;
    color: black;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center; 
 
}

.whereToGo h4 strong {
    text-decoration: underline;
    font-size: 1.05em;
}
.golfButton, .pantersButton {
    width: 80%;
    height: 70px;    
    margin: 0 auto;
    position: 10px;
    cursor: pointer;
    background: repeating-linear-gradient(-55deg, #b5e6d3, #c9ded2 10px, #c6e0d2 10px, #bee2d3 20px);    
}
@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

.pantersButton.hoverChangeBackgound, .golfButton.hoverChangeBackgound.animated {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hoverChangeBackgound h4 strong:hover{
  animation-name: bounce;
  transform-origin: center bottom;
  animation-duration: 1s;
  animation-fill-mode: both;
}
app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 99999;
  background: #3584f37a;
  padding: 4px 0;    
}


#nav-icon3 span{
    background: white;
        border: 2px solid #b2efcc;
}