 @media only screen and (min-width: 900px) {
  #nav-icon3{
    display: none;
  }
}
 @media only screen and (max-width: 900px) {
  .showHeader{
    display: none;
  }

.mobileCloseButton {
    float: right;
    font-size: 50px;
    position: absolute;
    z-index: 999;
    right: 0;
    top: 0;
    height: 27px;
    line-height: 12px;
    cursor: pointer;
}
  ul {
    padding: 10px;
    width: 100%;
    margin: 20px;
    list-style: none;
    height: 50vh;
    display: flex;
    flex-direction: column;
    cursor: pointer;
        justify-content: space-around;
  }
}

@media only screen and (max-width: 1190px) {
.sideArtilesHist h3 {
    font-size: 1em;
}
.sideArtilesHist ul li {
    font-size: 14px;
}
}

@media only screen and (max-width: 938px) {
.sideArtilesHist {
    grid-column-end: 20;
    width: 100%;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #78ffd675, #91d3f2);
    justify-content: center;
    height: 85px;
        transform: skewY(0deg);
}
.sideArtilesHist ul{
    list-style: none;
    -webkit-transform: skewY(12deg);
    transform: skewY(0deg);
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.sideArtilesHist h3{
      transform: skewY(0deg);
      margin: 10px;
}
.contentRouter[_ngcontent-c0] {
    grid-column-start: 1;
    grid-column-end: 21;
    position: relative;
    z-index: 3;
    grid-row-start: 3;
    padding: 0 5%;
}
}
