<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')"  >
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <p><button mat-button (click)="close('toggle button')">X</button></p>
    <app-header (click)="close('toggle button')"></app-header>
  </mat-sidenav>

  <mat-sidenav-content>
  	<div class="pageWrapper">
	  	<app-header></app-header>
	    <p class="openSideNavButton"><button mat-button (click)="sidenav.open()">Open</button></p>
	    <router-outlet></router-outlet>
	</div>
  </mat-sidenav-content>
</mat-sidenav-container>