<mat-card class="">
  <mat-card-header>
    <mat-card-title>Questions April 19 /2019</mat-card-title>
    <mat-card-subtitle>You should be asking yourself questions constantly</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
	<article id="articleHide2">
		<p>
			<img class="blogImage animated" src="../assets/blogpics/questions.jpeg" alt="Sad picture of man walking home alone">Got halfway throught the pack
		</p>
		
		<p>
			Early on got JJ and knew I was good so I put in a good raise of 4x the pot. Two callers--one loose aggressive (kinda maniac) and tight aggressive. Flop was Queen, ten, seven rainbow.
			What I needed to do was be asking "what could he of called with?" I raised the pot (which I still think was the right move) and got the tight agressive player to call. At this point I failed to ask the right question. 
		</p>
		<p>
			There is only a few hands he would call with. AA, KK, QQ, AQ, AJ and 10s. I could rule out AA and KK and AJ. He could of had 10s or AQ... But I wasn't thinking. I thought he was just finding a way to call with garbage. So I made a pot sized bet on the river when I saw another Q. This was about 2/3 my stack now in the pot. When he called I knew I was beat. Whent check check and yup AQ flipped over. Oops.
		</p>
		<p>
			This impacted the rest of the game and I would have had another round of play late in the game and a bit more play during other hands.
		</p>
	</article>
  </mat-card-content>
</mat-card>
