<div class="pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Become a Member</h1>
</div>

<div class="joinContent">
<!-- Student form -->
<form class="newMemberForm" [formGroup]="studentForm" (ngSubmit)="submitStudentData()" novalidate  *ngIf="showForm">
  <label>First name</label>
  
  <input type="text" formControlName="firstName" class="form-control" required>
  
  <!-- Showing errors using getter method -->
  <p *ngIf="firstName.touched && firstName.invalid" class="error"><sup>*</sup>Please enter a first name</p>
  <p *ngIf="firstName.errors?.minlength" class="error"><sup>*</sup>Name must be more than 2 words</p>
  
  <label>Last name</label>
  
  <input type="text" formControlName="lastName" class="form-control">
  
  <label>Email</label>
  
  <input type="email" formControlName="email" class="form-control" required>
  
  <!-- Showing errors using getter method -->
  <p *ngIf="email.touched && email.invalid" class="error"><sup>*</sup>Please provide email</p>
  <p *ngIf="email.errors?.pattern" class="error"><sup>*</sup>Please enter valid email</p>
  
  <label>Mobile number</label>
  
  <input type="text" formControlName="mobileNumber" class="form-control" required>
  
  <!-- Showing errors using getter method -->
  <p *ngIf="mobileNumber.touched && mobileNumber.invalid" class="error"> <sup>*</sup>Please provide contact number </p>
  <p *ngIf="mobileNumber.errors?.pattern" class="error"> <sup>*</sup>Use numbers only number</p>
  
  <br />

  <div class="form-group text-right">
    <button type="button" class="btn btn-secondary gap-right" (click)="ResetForm()">Reset</button>
    <button type="submit" class="btn btn-success" [disabled]="!studentForm.valid">Join</button>
  </div>

</form>

<div class="successJoin" *ngIf="showSuccess">You've successfully joined</div>

<article class="joinArticle">
  When we get enough members we will start to organise for some home games. We can do some dealer's choice and play rules like Pinappple or Crazy Pineapple.
</article>

</div>