

<section class="blogSection">

<app-article1></app-article1>

<mat-card class="">
  <mat-card-header>
    <div mat-card-avatar class=""></div>
    <mat-card-title>The Joker Play</mat-card-title>
    <mat-card-subtitle>Wild and crazy as a technique</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
	<article>
		<p>
			<img class="blogImage" src="../assets/blogpics/jokerPoker.jpeg" alt="Kings vs Aces in flames">
			Villan says "I'm drunk and I want to go home." So my ears perk up since this is a great tell. Anytime people comunicate at the table and they want to be heard it is usually a lie and the opposite of their true goals.
		</p>
		<ul>
			<li><em>I'm drunk</em> = <strong>I'm basicly sober</strong></li>
			<li><em>I want to go home</em> = <strong>I'm having a good time and would love to stay to win</strong></li>
		</ul>
		<p>
			Said villain then goes all in. And people fold. He shows a bluff. Mmmm. Ok. Then he does it again a few minutes latter. Another bluff. This is where the move becomes deadly. The third time he is called with a middle pair and he turns over Aces.
		</p>
		<p>
			If he did want to go home at some time he has changed his mind. It's a clever play. Act like you don't care especially if you are losing you can save face. Then if you get a few good hands you are going to completly confuse your opponents when you do care.
		</p>
		<aside>Cashed for 4 way tie $105</aside>
	</article>
  </mat-card-content>
</mat-card>



<mat-card >
  <mat-card-header>
    <div mat-card-avatar class=""></div>
    <mat-card-title>Odds of Kings and Aces March 12 /2019</mat-card-title>
    <mat-card-subtitle>Surprising chances</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
	<article id="articleHide">
		<p>
			<img class="blogImage" src="../assets/blogpics/kkvaa.png" alt="Kings vs Aces in flames"> One of the wierdest things ever to happen to me in a game of poker happened this week. I sat down to poket aces... ok, fair enough. First hand of the game and that's good. Villan reraises my bet preflop. So I hollywood and pretend to think... check my cards and 3 bet him. He does a 4 bet and I'm all in. He calls. It's KK vs AA in the first hand. Wow.
		</p>
		<p>
			He flops the set. I'm out of the game in the first hand. Luckily we were plaing at the Port Macquarie Golf Club Satuday game so I could rebuy which I hate doing and often use the fact that I lost as an indicator that I should go home. As in if you are loosing than tonight you are probably off your game or you are not at the right level of players. But in this instance I could not have played any differently and it was no baring of my skill.
		</p>
		<p>
			Apparently this situation is only very rare in the fact that it was the first hand. It is slighly under 4% that if you start a hand with KK and there are 8 players behind someone will have AA.
		</p>
	</article>
  </mat-card-content>
</mat-card>



<mat-card class="">
  <mat-card-header>
    <div mat-card-avatar class=""></div>
    <mat-card-title>When players want to go home March 5 /2019</mat-card-title>
    <mat-card-subtitle>Surprising chances</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
	<article id="articleHide2">
		<p>
			At the end of the night you have an opportunity to play vs loose players. As the chips get bigger and the night draws on there are a variety of factors that make people play much more loosely. And conventional when you have loose players you want to play tight and vice versa. Here are some factors that encourage late game loose play:
		</p>
		<ul>
			<li>Fatigue</li>
			<li>Wanting to go home</li>
			<li>Low chip stack and a break coming up so not wanting to wait 10 minutes to play one hand</li>
			<li>Frustration</li>
			<li>Blinds increasing</li>
		</ul>
		<p>
			This means that there is equity to be picked up as the game goes into a late stage vs some players who might be exhibiting the mentioned signs.
		</p>
		<p>
			But be cautious because one of the biggest tells is when someone anouces to the table "Well I should go home" as any communication at the table is inhenrently deceptive. If they want you to know that they are ready to go home than it's probably the opposite and they want to stay. They likely have a big hand.
		</p>
	</article>
  </mat-card-content>
</mat-card>

<div id="infinite-scroll-trigger"></div>


</section>