<h2>Port Web Solutions March/2019</h2>
<p>A shout out to the Port Web Solutions who have made this website. ;) </p>

<p>In all honesty the company and the club are run by the same guy. Which is me--Caleb Grams</p>

<p>I just want to point out that this website is made using the most advanced technology and techniques. It scores in the highest rankings for Google code scores and does some nifty little tricks.</p>

<hr>

<h2>Odds of Kings and Aces</h2>

<h2>When players want to go home</h2>

<h2>Collecting good odds</h2>