:host {
  box-sizing: border-box;
  display: none;
  right: 0;
  top: 0;
  height: 100%;
}

:host.is-open {
  display: block;
  color: black;
  animation-name: fadeIn;
  animation-duration: 200ms;
  animation-fill-mode: both;
  position: relative;       
}
  
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  0% {right:10px;}
  100% {opacity: 1;}
  100% {right:0px;}
}
         
@keyframes fadeIn {
  0% {opacity: 0;}
  0% {right:10px;}
  100% {opacity: 1;}
  100% {right:0px;}
}

h1,h2, p, ul{
  color: white;
}

a{
  color: white;
  text-shadow: 1px 1px #7b8a8c;
}
.blogSection mat-card.mat-card {
    grid-column-start: 2;
}
mat-card.mat-card {
    border: 3px solid #b0e3d6;
}
section.blogSection article {
    background: #5454548c;
    padding: 20px;
}

img.blogImage {
    width: 235px;
    float: left;
    margin: 0 10px 0 0;
    filter: brightness(226%);
}

#articleHide, #articleHide2{
  display: none;
}