
<h2>Latest Article: March 11/2019</h2>
<article class="weeklyarticlemainpage">
	<p>The night needed luck and I made a bad call with poket queens on the turn for 30% of my stack when I had only two outs to fill up a boat. I hit my two outer and filled up. I checked the river and was raised by a set of threes. I reraised and got paid. It set me up to coast on to the final table. As I was coasting I made a few good small pots but ended up having a monster stack sitting next to me as the blinds went up.</p>

	<p>Final table at the Panthers club was worth it. Even though I only had a few hands I got it in with KJ suited for 55 000 with blinds at 5-10 thousand. Got called by JJ and A-10. I'm happy with that.</p>

	<p>Learning of this week: QQ and a 5x pre-flop raise are not enough to push off A3. So I'll either raise more or play that hand slower in the future against calling station loose agressive tables</p> 
</article>

<img src="../assets/panthers.jpeg" />