:host {
  box-sizing: border-box;
  display: none;
  right: 0;
  top: 0;
  height: 100%;
}

:host.is-open {
  display: block;
  color: black;
  animation-name: fadeIn;
  animation-duration: 200ms;
  animation-fill-mode: both;
  position: relative;       
}
  
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  0% {right:10px;}
  100% {opacity: 1;}
  100% {right:0px;}
}
         
@keyframes fadeIn {
  0% {opacity: 0;}
  0% {right:10px;}
  100% {opacity: 1;}
  100% {right:0px;}
}

article.weeklyarticlemainpage {
    width: 66%;
    color: white;
    text-shadow: 1px 1px #13a77e;    
}
h2 {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px #13a77e;    
}


@media only screen and (max-width: 938px) {

  article.weeklyarticlemainpage {
      width: 100%;
      color: white;
      text-shadow: 1px 1px #13a77e;
      text-align: justify;
  }


}