<mat-card class="">
  <mat-card-header>
    <mat-card-title>The Serious Look April 12 /2019</mat-card-title>
    <mat-card-subtitle>When players stop talking and become hard to read after the flop</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
	<article id="articleHide2">
		<p>
			<img class="blogImage animated" src="../assets/blogpics/phil_ivey_poker_face.jpg" alt="Sad picture of man walking home alone"> Lost on the final table--one off the bubble. Learned a lot.
		</p>
		<ul>
			<li>
			Lost half my chips trying to bluff into a full boat top pair. In a five handed game he was going no-where whith my massive bets. I needed to realise that he had a slight tell. He was chatty then serious.
			</li>	
			<br />			
			<li>Caught a good tell. Player showed a bluff then the next hand said "might as well try it again" turning into him having bullets.</li>
			<br />
			<li>Other good tell. Player asked to see the cards if he folded. Other player said no. Then after the call we see the reason he did not want to reward the fold was because he had the nuts.</li>
			<br />			
			<li>Also the fact that just like in cricket the better you get the more experience you get. Good players get more experience because the last longer.</li>
		</ul>

	</article>
  </mat-card-content>
</mat-card>
